  .espacamento {
      margin-top: 30px;
      margin-bottom: 40px;
      
  }
  
  .tituloquemsomos {
      text-align: center;
  }
  
  .titulohome {
      text-align: center;
  }
  
  .widthimg {
      width: 100%;
  }
  
  .caixa {
      text-align: center;
      border: 2px solid #039;
      padding: 10px;
      border-radius: 40px;
  }
  
  .botao {
      background-color: #2D9CDB;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 12px;
  }
  
  .btn-primary {
      background-color: #2D9CDB;
  }
  
  .espcaixa {
      padding-right: 10px;
  }
  
  .espimg {
      padding-top: 50px;
  }
  
  .fontimg2 {
      text-align: center;
      font-size: 5mm;
  }
  
  .btn-primary {
      color: #fff;
      background-color: #2D9CDB;
      border-color: #2D9CDB;
  }
  
  .btn-primary:hover {
      color: yellow;
      background-color: #2D9CDB;
      border-color: #2D9CDB;
  }
  
  .btn-check:active+.btn-primary,
  .btn-check:checked+.btn-primary,
  .btn-primary.active,
  .btn-primary:active,
  .show>.btn-primary.dropdown-toggle {
      color: #fff;
      background-color: #2D9CDB;
      border-color: #2D9CDB
  }