.img-legislacao {
    margin-top: 50px;
    margin-bottom: 50px;
}
.img-martelo{
    margin-top: 50px;
    margin-bottom: 50px;
}
.citacao-legislacao {
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: antiquewhite;
}

.img-w3c{
    width: 100%;
    
}

