  .espacamento {
    margin-top: 50px ;
    margin-bottom: 50px;
  }

  .espacodireita{
    margin-top: 30px;
    margin-bottom: 300px;
  }

  .espacocentral{
    margin-top: 450px;
  }

  .tituloquemsomos{
    text-align: center;
  }

  .titulohome{
    text-align: center;    
  }

    .caixa {
      color: black;
      background-color:#D8E1FE!important;
      text-align: center;
      border:2px solid #039; 
      padding: 10px; 
      border-radius: 40px;
      }

      button {
        font-weight: bolder;
        background-color: #2D9CDB;
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius:12px ;
    }
 
    body{
      text-align: justify;
    }


  .espale{
    margin-top: 100px;
  }